# Project
.idea/
node_modules/
*.iml

# FLARE
flare/node_modules/
flare/out/
flare/.rollup.cache/
flare/.temp/

# Server
server/.gradle/
server/build/

# Client
client/node_modules/
client/.rollup.cache/
client/.temp/
client/out/
